/* Hoja Estilos SASS - El conspiranopico */

/* Importar Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900&family=Stardos+Stencil:wght@700&display=swap');
/* Fuentes Importadas Google Fonts
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stardos Stencil', cursive;
*/

/* Clases Macro */
body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    margin: 0px;
    background-color: #1d1e22;
    // background-image: url("../media/blackpattern.png");
    //background-repeat: repeat;
    color: whitesmoke;
}

.foto {
    width: 100%;
    border-radius: 5px;
    .foto--fill{
        object-fit:cover; 
        overflow: hidden; 
        height: 100% ;
    }
}

@keyframes animacion_peligro {
    from{
        background-color: orange;
    }
    to{
        background-color: red
    }
    
}

/*Cuerpo Ppal*/
.cuerpo_pagina--tituloSeccion{
    padding: 20px;
    padding-bottom: 10px;
    font-family: 'Stardos Stencil', cursive;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0px;
    color: #74b9d6;
}

.cuerpo_pagina{

    .cuerpo_pagina--textoCopete {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: .9rem;
        text-transform: uppercase;
        color: #941f1f;
        margin-bottom: .3rem;
    }
    
    .cuerpo_pagina--textoTitulo {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0px;
        color: #005685;
    }
    
    .cuerpo_pagina--textoSubtitulo {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 4px;
        color: #005685;
    }
    
    .cuerpo_pagina--textoCuerpo {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: .9rem;
        color: rgba(245, 245, 245, 0.849);
    }

    .cuerpo_pagina--formulario_buchonearla{
        border: 2px solid #74b9d6;
        border-radius: 5px;

        .cuerpo_pagina--formulario_buchonearla--leyenda{
            font-family: 'Nunito', sans-serif;
            color: #027ab6;
        }
        .cuerpo_pagina--boton {
            font-family: 'Roboto', sans-serif;
            font-size: .8rem;
            color: #001b29;
            background-color: #fcbf49;
            border-radius: 5px;
        }
    }
}

/* Header */
header {
    background-image: linear-gradient(to right, rgb(0, 75, 160), rgb(115, 199, 255));
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    .container_titulo {
        display: flex;
        flex-direction: column;
        min-width: 135px;
        a:hover     {text-decoration: none;}
        a:visited   {text-decoration: none;}
        a:link      {text-decoration: none;}
        a:active    {text-decoration: none;}

        .container_titulo--titulo{
            font-family: 'Stardos Stencil', cursive;
            color: whitesmoke;
            font-size: calc(27px + .7vw);
            text-decoration: none;
            margin: 0;
            padding: 0;
        }
        
        .container_titulo--subtitulo{
            font-family: 'Stardos Stencil', cursive;
            color: whitesmoke;
            font-size: calc(13px + .5vw);
            text-decoration: none;
            margin: 0;
            padding: 0;    
        }
    }

    .container_redes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 15%;
        min-width: 16px;

        .container_redes--iconoRedes{
            max-width: 2vw;
            min-width: 25px;
        }
    }

}

/* Nav Bar */

/* Boostrap Override */

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control{
    border-radius: 5px;
}

.card {
    background-color: #1d1e22;
    
    .card-img-overlay{
        background-color: rgba(0,0,0,.8);
        display: flex;
        align-items: center;
        border-radius: 4px;
        position: absolute;
        top: auto;
        bottom: 10px;
        left: 10px;
        right: auto;
        padding: 10px;
    }
}

.shadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5) !important;
}



.navbar-dark .navbar-nav{
    .nav-link:link { text-decoration: none; color: #005685; } 
    .nav-link:visited { text-decoration: none; color: #005685; }
    .nav-link:hover { text-decoration: none; color: #003653; }
    .nav-link:active { text-decoration: none; color: #005685; }
}

nav{
    //background-image: url("../media/blackpattern.png");
    background: #1d1e22;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    border-bottom: 2px solid #027ab6;
    position: sticky;
    top: 0px;
    margin: 0;
    z-index: 9;

    ul {
        justify-content: space-around;
        font-size: calc(10px + .5vw);
        text-transform: uppercase;
    }
    
    a:link { text-decoration: none; color: #005685; }
    a:visited { text-decoration: none; color: #005685; }
    a:hover { text-decoration: none; color: #003653; }
    a:active { text-decoration: none; color: #005685; }

    .material-icons{
        font-size: calc(10px + .5vw);
    }

    .dropdown-menu{
        background: #1d1e22;
        //border: 2px solid #027ab6;
        //background-image: url("../media/blackpattern.png");
        font-family: 'Nunito', sans-serif;
        font-size: calc(8px + .5vw);
    }
    .dropdown-item{
        font-weight: 900;
    }
    .dropdown-item:hover { text-decoration: none; color: #003653; background-color: #1d1e22;}
}

/* Footer */
footer {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    color: whitesmoke;
    padding-top: 15px;

    fieldset{
        // background-image: linear-gradient(to right, rgb(0, 75, 160), rgb(115, 199, 255));
        border: 2px solid #005685;
        padding: 10px;
        border-radius: 5px;

        legend {
            font-size: .9rem;
            text-align: left;
            width: auto;
        }
    }
    
    #boton_footer {
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Stardos Stencil', sans-serif;
        color: whitesmoke;
        border-radius: 5px;
    }

    #boton_footer:hover { 
        text-decoration: none; 
        color: whitesmoke;
        animation-name: animacion_peligro;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

/* Modales */
.modal_warning {
    text-align: center;
    animation-name: animacion_peligro;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    .modal_warning--texto_header {
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        font-size: .9rem;
        text-transform: uppercase;
        color: whitesmoke;
        border-bottom: 0px;
    }
    .modal_warning--texto_cuerpo {
        font-family: 'Stardos Stencil', sans-serif;
        font-size: 2.5rem;
        line-height: 3rem;
        text-transform: uppercase;
        margin: 0px;
        color: black;
    }
    .modal_warning--boton {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: black;
        font-size: .8rem;
    }
    .modal-footer{
        border-top: 0px;
    }
}