/* Hoja Estilos SASS - El conspiranopico */
/* Importar Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;0,900;1,300&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700;1,900&family=Stardos+Stencil:wght@700&display=swap");
/* Fuentes Importadas Google Fonts
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stardos Stencil', cursive;
*/
/* Clases Macro */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  margin: 0px;
  background-color: #303030;
  /*por si no se carga el png*/
  background-image: url("../media/blackpattern.png");
  background-repeat: repeat;
  color: whitesmoke;
}

.foto {
  width: 100%;
  border-radius: 5px;
  padding-bottom: 7px;
}

@-webkit-keyframes animacion_peligro {
  from {
    background-color: orange;
  }
  to {
    background-color: red;
  }
}

@keyframes animacion_peligro {
  from {
    background-color: orange;
  }
  to {
    background-color: red;
  }
}

/*Cuerpo Ppal*/
.cuerpo_pagina--tituloSeccion {
  padding: 20px;
  padding-bottom: 10px;
  font-family: 'Stardos Stencil', cursive;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0px;
  color: #74b9d6;
}

.cuerpo_pagina .cuerpo_pagina--textoCopete {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .7rem;
  text-transform: uppercase;
  color: #941f1f;
  margin-bottom: .3rem;
}

.cuerpo_pagina .cuerpo_pagina--textoTitulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0px;
  color: #74b9d6;
}

.cuerpo_pagina .cuerpo_pagina--textoSubtitulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .8rem;
  text-transform: uppercase;
  margin: 4px;
  color: #74b9d6;
}

.cuerpo_pagina .cuerpo_pagina--textoCuerpo {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: .7rem;
  color: #939ca0;
}

.cuerpo_pagina .cuerpo_pagina--formulario_buchonearla {
  border: 2px solid #74b9d6;
}

.cuerpo_pagina .cuerpo_pagina--formulario_buchonearla .cuerpo_pagina--formulario_buchonearla--leyenda {
  font-family: 'Nunito', sans-serif;
  color: #027ab6;
}

.cuerpo_pagina .cuerpo_pagina--formulario_buchonearla .cuerpo_pagina--boton {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: #001b29;
  background-color: #fcbf49;
}

/* Header */
header {
  background-image: -webkit-gradient(linear, left top, right top, from(#004ba0), to(#73c7ff));
  background-image: linear-gradient(to right, #004ba0, #73c7ff);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container_titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 135px;
}

header .container_titulo a:hover {
  text-decoration: none;
}

header .container_titulo a:visited {
  text-decoration: none;
}

header .container_titulo a:link {
  text-decoration: none;
}

header .container_titulo a:active {
  text-decoration: none;
}

header .container_titulo .container_titulo--titulo {
  font-family: 'Stardos Stencil', cursive;
  color: whitesmoke;
  font-size: calc(27px + .7vw);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header .container_titulo .container_titulo--subtitulo {
  font-family: 'Stardos Stencil', cursive;
  color: whitesmoke;
  font-size: calc(13px + .5vw);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header .container_redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 15%;
  min-width: 16px;
}

header .container_redes .container_redes--iconoRedes {
  max-width: 2vw;
  min-width: 25px;
}

/* Nav Bar */
nav {
  background-image: url("../media/blackpattern.png");
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  border-bottom: 2px solid #027ab6;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  margin: 0;
  z-index: 9;
}

nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: calc(8px + .5vw);
  text-transform: uppercase;
}

nav a:link {
  text-decoration: none;
  color: #005685;
}

nav a:visited {
  text-decoration: none;
  color: #005685;
}

nav a:hover {
  text-decoration: none;
  color: #003653;
}

nav a:active {
  text-decoration: none;
  color: #005685;
}

nav .dropdown-menu {
  border: 2px solid #027ab6;
  background-image: url("../media/blackpattern.png");
  font-family: 'Nunito', sans-serif;
  font-size: calc(8px + .5vw);
}

nav .dropdown-item {
  font-weight: 900;
}

nav .dropdown-item:hover {
  text-decoration: none;
  color: #003653;
  background-color: black;
}

/* Footer */
footer {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
  color: whitesmoke;
}

footer fieldset {
  background-image: -webkit-gradient(linear, left top, right top, from(#004ba0), to(#73c7ff));
  background-image: linear-gradient(to right, #004ba0, #73c7ff);
  border-color: #005685;
  padding: 10px;
}

footer fieldset legend {
  font-size: .9rem;
  text-align: left;
}

footer #boton_footer {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Stardos Stencil', sans-serif;
  color: #005685;
}

footer #boton_footer:hover {
  text-decoration: none;
  color: whitesmoke;
  -webkit-animation-name: animacion_peligro;
          animation-name: animacion_peligro;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* Modales */
.modal_warning {
  padding: 5px;
  text-align: center;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  -webkit-animation-name: animacion_peligro;
          animation-name: animacion_peligro;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.modal_warning .modal_warning--texto_header {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.modal_warning .modal_warning--texto_cuerpo {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin: 0px;
  color: black;
}

.modal_warning .modal_warning--boton {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  color: #001b29;
  background-color: #fcbf49;
}
/*# sourceMappingURL=style.css.map */